<div class="main blurb">
<h2>Edit Suggestion</h2>

<p>(Not entirely fair, you know! This does not re-set votes.)</p>

<%= render 'form' %>

<%= link_to 'Just Display Me', @topic %> |
<%= link_to 'Back', topics_path %>
<div class="main blurb">
