<!DOCTYPE html>
<html>
<head>
  <title>Waynebot Suggestitron</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Orbitron:700,400' rel='stylesheet' type='text/css'> 
  <style media="screen">
body {
  color: #444;
  font-family: 'Orbitron', verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 22px;
  background-image:url('http://nowviskie.org/images/roboright.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom right;  }
a {
  color: #000; }
a:visited {
    color: #000; }
a:hover {
  color: #A80000;
  background-color: #fff;}
.heart {
  color: #A80000;
  font-size: x-large; }
.main {
  padding: 1em;
  width: 60%;
  background-color: #fff;
  opacity: 0.8;
  filter:alpha(opacity=80); }
.blurb {
  width: 40%; }
  </style>
</head>
<body>

<%= yield %>

</body>
</html>
