<!DOCTYPE html>
<html>
<head>
  <title>DH Dream Karaoke</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Orbitron:700,400' rel='stylesheet' type='text/css'> 
  <style media="screen">
html, body {
  color: #444;
  font-family: 'Orbitron', verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 22px;
  height:100%;
  background-image:url('http://nowviskie.org/images/mic.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom right;  }
a {
  color: #000; }
a:visited {
    color: #000; }
a:hover {
  color: #A80000;
  background-color: #fff;
}
h1 a {
  text-decoration: none;
}
.heart {
  color: #A80000;
  font-size: x-large; }
.main {
  padding: 1em;
  width: 60%;
  background-color: #fff;
  opacity: 0.8;
  filter:alpha(opacity=80); }
.blurb {
  width: 40%; }
.container {
  min-height: 100%;
  position:relative;
}
.search {
  position: absolute;
  top: 0;
  right: 1em;
}
.footer {
  position: absolute;
  bottom: 0;
  right: 1em;
}
.pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: .2em;
  cursor: default; }
  .pagination a, .pagination span {
    padding: 0.2em 0.3em; }
  .pagination .disabled {
    color: #aaaaaa; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .pagination a {
    text-decoration: none;
    color: black; }
    .pagination a:hover, .pagination a:focus {
      text-decoration: underline; }
  </style>
</head>
<body>
  <div class="container">

<%= yield %>
<div class="footer"><p><em>(Get the <a href="http://github.com/nowviskie/Suggestitron">code</a>.)</em></p></div>
</div> 
</body>
</html>
